[Desktop Entry]
Type=Application
Name=Godot Game Engine
GenericName=Godot
Coment=An open source game engine
Exec=
Icon=godot
Terminal=false
Categories=IDE;
